#footer
{
font-size: 1em;
color: white;
background-color: #455c63;

}
#locations {
  text-align: center;
  display: block;
  padding: 20px;

}


#locations
{
top:20px;
text-align:center;
padding: 24px;
}

#careers{
  top:15px;
text-align:center;
padding: 24px;
}

#socialMedia{
  top:20px;
text-align:center;
padding: 24px;
}

#copyrightStatement
{
  font-size: .9em;
font-stretch:ultra-expanded ;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

 #copyrightStatement{
   text-align: center;
 }

#careersBtn
{
background: #009688;
}
