

@media (max-width: 575px) {
    #wel-note{
        visibility:hidden;
    }
}

/***************
    Navbar - Matt Jennings
****************/
.welcome-message h1{
  margin-top: 40px;

}
.navbar-toggler {
    border: none;
    background-image: none !important;
}

/* Re-positions the collapsed hamburger menu so it's inline with the logo */
.navbar-toggler.hidden-sm-up {
    margin-top: 6px;
}

.navbar-logo {
    float: left;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.navbar-logo img {
    height: 30px;
}


/******** Needed for Scoll Event Changes *****/
.navbar {
	transition-duration: 0.2s;
}

@media (max-width: 768px) {
    .navbar-scroll-custom {
        transform: translateY(-60px);
        transition-duration: 0.2s;
    }
}
/********************************************/

@media (max-width: 575px) {
    .navbar-logo {
        display: block;
        float: none;
        margin-top: .5rem;
        margin-right: 0;
        margin-left: 6px;
    }
}

@media (max-width: 768px) {
    .right-aligned-nav-item {
        float: none;
    }

    .right-aligned-nav-item i {
        display: none;
    }
}

@media (min-width: 768px) {
    .right-aligned-nav-item {
        float: right;
    }

    .right-aligned-nav-item i {
        display: inline;
    }
}

/**************************
 Navbar Hamburger SVG stuff -  Matt Jennings
 *************************/

.hamburger-container {
    float:right;
    height: 9px;
    width: 50px;
    margin-top: -2px;
}

#nav-icon4 span {
  display: block;
  height: 4px;
  margin-top: 5px;
  width: 25px;
  background:white;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

/***************
    Carousel - Matt Jennings / Kasi Emmanuel
****************/

/* Necessary for full page carousel*/
html,
body {
    height: 100%;

    /* Modal sometimes adds 33% padding after closing, not sure why, this fixes it */
    padding-right: 0 !important;
}

#home,
.carousel {
    height: 100%;
    z-index: 10;
}

.carousel-label {
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 100;
}

.carousel-label p {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 2em;
    font-weight: bold;
}

.carousel-item {
    text-shadow: 2px 2px 2px black;
    height: 100%;
}

.carousel-item ul {
    max-width: 75%;
}

/* Transparent background for carousel info... not sure if we want it or not
.carousel-item ul {
    background: rgba(90, 90, 90, 0.75);
    border-radius: 2px;
    padding: 25px;
}
*/

.carousel-item .btn {
    text-shadow: none;
}

.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}


/* Fixes active labels - Matt Jennings*/
label.active {
    height: auto;
}

/*Coded by Kasi Emmanuel*/
.carousel-item h2{
  color: white;
  font-weight: bold;
  font-size: 4em;
  font-stretch: extra-expanded;
}
.carousel-item h5{
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  font-stretch: extra-expanded;
  padding-top: 16px;
}

.carousel-item h1{
  color: white;
  font-size: 3em;
  font-weight: thin;
  font-stretch: expanded;
}

.carousel-item p {
    color: white;
    font-size: 1.35em;
    font-stretch: ultra-expanded;
}

/* Matt Jennings */
@media(max-width: 575px) {
    .carousel-item p {
        font-size: 1em;
    }

    .carousel-item h1 {
        font-size: 2em;
    }
    .carousel-item h2 {
        font-size: 2em;
    }

    .carousel-item h5 {
        font-size: 1em;
    }

    .carousel-label p {
        visibility: hidden;
    }
}

.carousel-inner  {
    height: 100%;

}


.carousel-item:nth-child(1) {
    background-image: url("../img/carousel/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

.carousel-item:nth-child(2) {
    background-image: url("../img/carousel/2.jpg");
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("../img/carousel/temple.jpg");
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-size: cover;
}
.carousel-item:nth-child(4) {
    background-image: url("../img/carousel/4.jpg");
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-size: cover;
}

/***************
Agency Button Togglers (in Contact form) - Matt Jennings
****************/

.agency-button {
    width: 100%;
}

.agency-description {
    text-align: center;
    padding: 16px 0;
    font-size: 1.2em;
}

/***************
    Contact Us - Matt Jennings / Kasi Emmanuel
****************/

.agent-description {
    font-size: 0.8em;
    padding-bottom: 30px;
    text-align: center;
}

.agent-name {
    font-weight: bold;
    font-size: 1.2em;
}

.agent-position {
    font-style: italic;
}

#about-us h1 {
    padding-top: 25px;
    margin-left: -5px;
}

#contact-form-header {
    padding: 8px 0;
    text-align: center;
}

.contact-message-us p {
    margin: 32px 0;
    text-align: center;
}

.contact-form {
    margin: auto;
}

.contact-form label {
    padding-top: 25px;
}

.form-buttons a.btn{
    margin-top: 25px;
    margin-left: 0px;
}

#booking-details{
  background-color: #e2e2e2;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #009688;
}

/*************
    Modal Alert - Matt Jennings
***************/

#modal-alert-text,
#modal-alert-title {
    text-align: center;
}

/***************
    About Us - Kasi Emmanuel
****************/
#about-us-map {
    padding-top: 20px;
}
#img-1{
  min-height: 400px;
  color:#c7c7cb;
  background-image: url("../img/carousel/portland.jpg");

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

}
#img-2{
  min-height: 530px;
  color:#c7c7cb;
  background-image: url("../img/carousel/dorset.jpg");

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
#img-3{
  min-height: 430px;
  color:#c7c7cb;
  background-image: url("../img/carousel/new-york.jpg");

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
#img-4{
  min-height: 500px;
  color:#c7c7cb;
  background-image: url("../img/carousel/ocean.jpg");

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.section-heading{
  padding: 30px;
}


/* Matt Jennings */
@media (max-width: 991px) {
    #img-1,
    #img-2,
    #img-3,
    #img-4 {
        display: none;
    }

    .company-section,
    .process-section,
    .quality-section,
    .travel-tips-section {
        text-align: center;
    }
}

/************************
Packages Kasi Emmanuel
***********************/

#vacationpackages {
    padding-top: 5px;
    background: #455A64;
    color: white;
}

.Main-Content{
  font-size: 1em;
  color: white;
  width: 40%;
  float: left;
  height: 250px;
}

.Main-Content h5{
  font-weight: bolder;

  font-size: 1.5em;
  margin-top: -40px;
  padding: 10px;

}

.Main-Content h2{
  font-weight: bolder;

  padding: 0;
  color:#ff8800;
  font-size: 2.5em;

}

.Main-Content p {
    color: white;
    font-size: 1em;
}

.gallery-info {
    padding: 60px 0;
}

#package-gallery-mobile-label {
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 0.7em;
}

@media(min-width: 576px) {
    #package-gallery-mobile-label {
        visibility: hidden;
    }
}

#package-gallery {
    background: #607D8B;
    padding: 60px 0;
}

.package-gallery-content{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px;
    background: #455A64;
}

.package-expired:hover:before {
    position: absolute;
    content: 'Expired';
    color: white;
    text-align: center;
    line-height: 250px;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #000000;
    vertical-align: middle;
    background: rgba(250,0, 0, 0.25);
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.package-available:hover:before {
    position: absolute;
    content: '';
    color: white;
    background: rgba(255,255, 255, 0.2);
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.link-expired {
    cursor: default;
}

#package-contents{
  margin-bottom: 50px;
  padding: 50px;
}

.img-packages-container {
    width: 60%;
    float: left;
}

.img-packages {
    padding: 0px;
}

.package-link:nth-of-type(1) .img-packages {
    background-image: url("../img/packages/river-1.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;

}

.package-link:nth-of-type(2) .img-packages {
    background-image: url("../img/packages/hawaii.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.package-link:nth-of-type(3) .img-packages {
    background-image: url("../img/packages/temple-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.package-link:nth-of-type(4) .img-packages {
    background-image: url("../img/packages/asia-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;

}

.header{
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Matt Jennings */
@media(max-width: 575px) {
    .Main-Content {
        width: 100%;
    }

    .Main-Content h5,
    .Main-Content h2 {
        padding-bottom: 15px;
    }

    .img-packages-container {
        width: 100%;
    }

    .gallery-info {
        padding: 30px 0;
    }    

    .gallery-info h5 {
        padding-top: 30px;
    }
}



/************************
Booking Confirmation
 Kasi Emmanuel
***********************/

#bookingsPreviousBtn,
{
  padding: 10px;
  float:none;

}

/**************
Package details - Matt Jennings
***************/


#package-details-container {
    margin-top: 80px;
}

#package-details-carousel {
    padding: 5px;
    margin: 5px -2px 15px -2px;
}

jumbotron {
    margin: 0;
}

#all-details {
    margin-top: 52px;

}

#all-details h2 {
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 2px solid #373A3C;
}

#booking-info label,
#package-info label {
    font-weight: bold;
    color: #373A3C;
    font-size: 0.8em;
}

#booking-info p {
    color: #6D6D6D;
}

.num-travelers p {
    line-height: 64px;
    text-align: center;
    font-weight: bold;
    color: #373A3C !important;
    font-size: 1em;
}

.date-passed {
    /* Red bold font required by documentation */
    color: #EF5350;
    font-weight: bold;
}

.date-ahead {
    color: #6D6D6D;
    font-weight: normal;
}

.price-label p {
    padding-top: 16px;
    font-weight: bold;
    text-align: center;
    color: #1F1F1F !important;
}

.price-number p {
    text-align: center;
    font-size: 3em;
    color: #159588 !important;
}

.booking-class,
.booking-no,
.package-start-date,
.package-end-date,
.travelers-label  {
    text-align: center;
}

.details-customer-fields {
    margin-top: 24px;
}

#booking-info .travelers select {
    text-align: center;
    font-size: 2em;
    color: #159588;
    padding-left: 35%;
}

.booking-class-select .material-select select {
    text-align: center;
    color: #159588;
    padding-left: 20%;
}

.material-select  {
    padding-top: 2px;
}

.material-select select {
   background: transparent;
   width: 100%;
   padding: 5px 5px 5px 0;
   margin-bottom: 24px;
   font-size: 1rem;
   line-height: 1;
   border: 0;
   border-radius: 0;
   border-bottom: 1px solid #C5C5C5;
   height: 54px;
   -webkit-appearance: none;
   color: #757575;
}


.material-select select:focus {
    outline-width: 0;
}
